In [18]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(columns=["totals"])

In [23]:
x = [5961708,394761965,4428194678,4822956643,1344941817,5720239179,7065180996,202863608,907573553,1110437161,92915692,
     303510729,396426421,967397937,53,2235897]

In [28]:
x365 = []

for i in range(0,365):
    x365 = np.append(x365,x)

In [29]:
len(x365)

5840

In [26]:
x365

array([  5.96170800e+06,   3.94761965e+08,   4.42819468e+09, ...,
         9.67397937e+08,   5.30000000e+01,   2.23589700e+06])

In [27]:
365*16

5840

In [30]:
df['totals'] = x365

In [33]:
df = df.astype(int)

In [35]:
df.head(16)

        totals
0      5961708
1    394761965
2   4428194678
3   4822956643
4   1344941817
5   5720239179
6   7065180996
7    202863608
8    907573553
9   1110437161
10    92915692
11   303510729
12   396426421
13   967397937
14          53
15     2235897

In [37]:
df.to_csv('fb-totals-2017.csv')